html{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    color: white;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    color: white !important;
}

body{
    background: #2f3237;    
}

.div-center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#va_container {
    position: relative;
    max-width: 1140px;
    margin: auto;
}

.va-thumbnail {
    border-radius: 5px;
    border: 0px;
    max-width: 100%;
}

.va-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
}

.va-carrousel-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.va-carrousel-flexbox .va-card {
    flex: 0 0 auto;
    padding-left: 15px;
}

.va-carrousel-flexbox .va-card:last-child {
    margin-right: 15px;
}

.va-carrousel-flexbox .va-card:last-child::after {
    content: ' ';
    display: inline-block;
}

.va-card {
    width: 100px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.va-card:hover {
    user-select: none;
    outline: none;
}

.va-card a {
    display: block;
}


.va-carrousel, .va-carrousel-flexbox {
    width: 100%;
}

.va-carrousel-title {
    display: inline-block;
    color: white;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

.va-carrousel::-webkit-scrollbar, .va-carrousel-flexbox::-webkit-scrollbar {
    display: none;
}

.va-title {
    margin-top: 8px;
    font-size: 11px;
    max-height: 3em;
    overflow: hidden;
    color: white;
    font-weight: 700;
}

.va-start-from {
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.va-points {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    color: white;
}

.deals-paddle {
    height: 38px;
    width: 38px;
    color: white;
    background-color: #00000089;
    border-radius: 50%;
    border: 0px solid;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.deals-paddle:focus {
    outline: none;
}

.deals-paddle:active {
    border-style: solid;
    outline: none;
    user-select: none;
}

.deals-paddle svg {
    width: 10px;
}


.deals-scroll-left {
    top: 0;
    left: 5px;
    bottom: 0;
}

.deals-scroll-right {
    top: 0;
    bottom: 0;
    right: 5px;
}

.va-carrousel-section {
    padding: 0px;
    position: relative;
}


.va-whitewrap {
    padding-top: 15px;
    margin-top: 15px;
}

.va-seeall {
    display: block;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid #DDDDDD;
    text-align: center;
    padding: 10px;
}

.va-carrousel-section {
    padding-left: 15px;
    padding-right: 15px;
}

.other-game-button {
    width: 300px;
}

.va-title {
    font-size: 13px;
}

.va-card {
    width: 187px;
}

.va-card img {
    width: 100%;
}

h1, h2 {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

h1 {
    margin-bottom : 35px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-container * {
    width: 300px;
}

.navbar {
    display: flex;
    justify-content : space-between;
    padding: 10px 20px;
    font-weight: bold;
}

.navbar * {
    display: inline-block;
}

.navbar ul * {
    padding: 5px;
    justify-content : space-evenly;
}

.navbar img {
    width: 100px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

dialog {
	width: 100%;
	max-width: 1160px;
	border: 0;
	padding: 0;
}

#dialog-wrap {
	padding: 35px;
}

#close-dialog, #close-generated-dialog {
	display:none;
}
.modale * {
    color: black !important;
}